$colors: (
    common: (
        white: #ffffff,
        black: #000,
        black-2: #24292d,
    ),
    heading: (
        primary: #343a40,
    ),
    grey: (
        1:#c5c5c5,
        2: #aeaeae,
        3: #acacac,
        4: #999999,
        5: #f7f7f7,
        6: #b7b7b7,
        7: #a6aeb5,
        8: #edf2f6,
    ),
    text: (
        body:#777777,
        1:#000,
    ),
    theme: (
        1: #de2021,
        2: #fff1f1,
    ),
    border: (
        1: #ededed,
        2: #e9e9e9,
        3: #999999,
    )
);
